@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #292F36;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #292F36;
    --foreground: #F8F8F8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
